<div class="chart-header">All data</div>
<div id="default-view-top-chart"></div>
<a class="chart-header campaign-name"></a>
<div id="default-view-bottom-chart"></div>

<div class="pull-right toolbox">
  <label for="from-date">From:</label>
  <input id="from-date" type="date" value="2013-01-01" />
  <label for="to-date">To:</label>
  <input id="to-date" type="date" value="2013-12-31" />
  <label for="group-by">Group by:</label>
  <select id="group-by">
    <option>Year</option>
    <option>Quarter</option>
    <option>Month</option>
    <option>Day</option>
  </select>
  <button type="button" class="btn btn-default">Reset</button>
  <button type="button" class="btn btn-danger">Generate</button>
</div>

<div class="modal" id="campaigns-modal-view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          onclick="$('#campaigns-modal-view').modal('hide')">×</button>
        <h4 class="modal-title">Select Campaign</h4>
      </div>
      <div class="modal-body" id="campaigns-modal-view-body">
        <!-- radio is here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-ok">Select</button>
      </div>
    </div>
  </div>

  <script id="campaigns-modal-radio-template" type="text/template">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="<%= CampaignId %>" value="<%= CampaignPath %>">
        <%= CampaignPath %>
      </label>
    </div>

  </script>
</div>

<div class="clearfix"></div>